body {
  margin: 5em;
}

p, blockquote, 
h1, h2, h4, li, a {
  font-family: arial;
}

img.marvel-logo {
  margin: auto;
  display: block;    
  height: 150px;
}

p {
  text-indent: 2em;
}

p.caption, p.disclaimer {
  font-style: italic;
}